@model Comprension_Lectora.Models.USER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passwords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passwords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSTATE.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSTATE.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONAL_ADMISTRATIVO.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONAL_ADMISTRATIVO.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
