@model IEnumerable<Comprension_Lectora.Models.USER>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7"><h1 style="font-weight: bold;"><i class="nav-icon fas fa-user-circle"></i> Usuarios</h1></div>
    <div class="col-md-2"></div>
    <div class="col-md-4" style="text-align: right;">
    </div>
    <div class="col-md-1"></div>
</div>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body" id="pnlDetalle">
                <div id="pnlSolicitudes">
                    <br />
                    <div class="row">
                        <div class="col-md-12" style="text-align: right;">
                            @Html.ActionLink("Agregar Usuario", "Create", "USER", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <br />
                    <table class="table table-bordered table-striped" id="tblSolicitud">
                        <thead>
                            <tr>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Empleado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CSTATE.Estado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PERSONAL_ADMISTRATIVO.Nombre)
                                        @Html.DisplayFor(modelItem => item.PERSONAL_ADMISTRATIVO.Apellido)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar ✏️", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Detalle 👥", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Eliminar ❌", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
