@model Comprension_Lectora.Models.PERSONAL_ADMISTRATIVO

@{
    ViewBag.Title = "Eliminar";
}

<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7"><h1 style="font-weight: bold;"><i class="nav-icon fas fa-user-nurse"></i> Eliminar de Empleado</h1></div>
    <div class="col-md-2"></div>
    <div class="col-md-4" style="text-align: right;">
    </div>
    <div class="col-md-1"></div>
</div>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body" id="pnlDetalle">
                <div id="pnlSolicitudes">
                    <h3><strong>¿Esta seguro de borrar esta empleado?</strong></h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"><strong>Nombres</strong></div>
                                <div class="col-md-8">
                                    @Html.HiddenFor(model => model.CodigoEmpleado)
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"><strong>Apellidos</strong></div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"><strong>Dirección</strong></div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"><strong>Correo Electrónico</strong></div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"><strong>Teléfono</strong></div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"><strong>Puesto</strong></div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PUESTO1.Nombre_Puesto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-8" style="text-align: right;">
                                    @Html.ActionLink("Regresar", "Index", "PERSONAL_ADMISTRATIVO", new { @class = "btn btn-success" })
                                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>