@model IEnumerable<Comprension_Lectora.Models.HABITACION>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7"><h1 style="font-weight: bold;"><i class="nav-icon fas fa-procedures"></i> Habitaciones</h1></div>
    <div class="col-md-2"></div>
    <div class="col-md-4" style="text-align: right;">
    </div>
    <div class="col-md-1"></div>
</div>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body" id="pnlDetalle">
                <div id="pnlSolicitudes">
                    <br />
                    <div class="row">
                        <div class="col-md-12" style="text-align: right;">
                            @Html.ActionLink("Agregar Habitación", "Create", "HABITACION", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <br />
                    <table class="table table-bordered table-striped" id="tblSolicitud">
                        <thead>
                            <tr>
                                <th>
                                    No. Habitación
                                </th>
                                <th>
                                    Obsercaciones
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Habitacion1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observaciones)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DISPONIBLES.Estado)
                                    </td>
                                    <td>

                                        @Html.ActionLink("Editar ✏️", "Edit", new { id = item.CodigoHabitacion }) |
                                        @Html.ActionLink("Detalle 📅", "Details", new { id = item.CodigoHabitacion }) |
                                        @Html.ActionLink("Eliminar ❌", "Delete", new { id = item.CodigoHabitacion })


                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
