@model IEnumerable<Comprension_Lectora.Models.PACIENTE>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7"><h1 style="font-weight: bold;"><i class="nav-icon fas fa-user-injured"></i> Pacientes</h1></div>
    <div class="col-md-2"></div>
    <div class="col-md-4" style="text-align: right;">
    </div>
    <div class="col-md-1"></div>
</div>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body" id="pnlDetalle">
                <div id="pnlSolicitudes">
                    <br />
                    <div class="row">
                        <div class="col-md-12" style="text-align: right;">
                            @Html.ActionLink("Agregar Paciente", "Create", "PACIENTE", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <br />
                    <table class="table table-bordered table-striped" id="tblSolicitud">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Enfermedad
                                </th>
                                <th>
                                    Habitación
                                </th>
                                <th>
                                    Género
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre_Completo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ENFERMEDAD1.Nombre_Enfermedad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HABITACION1.Habitacion1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SEXO1.Sexo1)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar ✏️", "Edit", new { id = item.CodigoPasiente }) |
                                        @Html.ActionLink("Detalle 📅", "Details", new { id = item.CodigoPasiente }) |
                                        @Html.ActionLink("Eliminar ❌", "Delete", new { id = item.CodigoPasiente })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
